body{
    background-image: url('other.jpg');
    background-size: cover;
  
}
#title{
    color: aqua;
    padding: 10px 0px;
}
#div1{
    display:flex; 
    flex-direction: row;
}
#smalldiv{
    display:flex; 
    flex-direction: row;
    background-color: lightgoldenrodyellow;
    padding: 15px 10px;
    margin: 25px 25px;
    width:370px;
   
}
#smalldiv:hover{
    background-color: grey;
}
h2{
    color: rgb(202, 157, 73);
    padding-left: 10px;
}
a{
    text-decoration: transparent;
}